.overdue{
	background:red;
}
.upcoming{
	background:orange;
}
.later{
	background:green;
}

html{
	background-color:black; !important
	padding:10px;
}
#header{
	width:100%;
	min-height:100px;
	background-color:#024981;
	color:white;
}
#header h1{
	padding:20px;
	padding-top:35px;
	font-size:30px;
	line-height:35px;
}

#footer{
	margin-top:30px;
	width:100%;
	height:100px;
	background-color:#024981;
	color:white;
}
#footer a{
	padding:20px;
	color:white;
	padding-top:70px;
}

#page-content{
	padding:10px;
	min-height:200px;
}

#page-content-show{
	padding:10px;
	min-height:200px;
}


.main-form{
	margin-top:30px;
	border:2px black solid;
	border-collapse:collapse;
	overflow: hidden;
}

/* Firefox */
@-moz-document url-prefix()
{
  .main-form{
  	margin-top:30px;
  	border:1px black solid;
  	border-collapse:collapse;
  	overflow: hidden;
  }}

.main-form td{
	border:1px black solid;
	text-align:left;
	overflow: hidden;
}
.main-form th{
	border:1px black solid;
	text-align:left;
	overflow: hidden;
	
}

.main-form-no-margin{
	border-collapse:collapse;
	width:100%;
}

.main-form-no-margin td{
	border:1px black solid;
	text-align:left;
}
.main-form-no-margin th{
	border:1px black solid;
	text-align:left;
	
}



#navbar{
	width:100%;
	height:40px;
	background-color:#b1c8da;
}

#navbar ul{
	border: 0;
	outline: 0;
	text-decoration: none;
	font-size: 100%;
	list-style: none;
	display: block;
	padding-top:5px;
}

#navbar ul li{
	display: list-item;
	list-style: none;
	float: left;
	position: relative;
	top: 1px;
	margin: 0 .2em 1px 0;
	padding: 0;
	white-space: nowrap;
	margin-right:30px;
	padding:20px;
	padding-top:0;
	padding-bottom:0;
}

#navbar ul li a{
	display: block;
	border: 1px solid white;
	background: #024981 url(images/ui-bg_gloss-wave_50_6eac2c_500x100.png) 50% 50% repeat-x;
	font-weight: normal;
	color: white;
	list-style: none;
	float: left;
	position: relative;
	top: 1px;
	padding: 0;
	white-space: nowrap;
	float: left;
	padding: .5em 0.9em;
	text-decoration: none;
}

#login{
	text-align:left;
	padding:20px;
}
