%div#navbar
  %ul
    %li
      
      %a{:href=>"javascript:history.back()"} Back
      %a{:href=>"/"} Home
      %a{:href=>"/stocks/"+@stock.id.to_s} Print
      %a{:href=>"javascript:saveForms()"} Enregistrer tout
      
%div#page-content
  = render 'form'